@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Clinica "Buena Vida"<br />
        San  Salvador, El Salvador<br />
        <abbr title="Phone">Telefono:</abbr>
        2121-2221
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:clinicaBuenaVida@gmail.com">clinicaBuenaVida@gmail.com</a><br />
       
    </address>
</main>