@{
    ViewBag.Title = "Pagina Principal ";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Sistema de Gestion de Clinica </h1>
        <p class="lead">Este sistema informatico para el control de las actividades de la clinica Buena Vida.</p>
     
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Bienvenido al Sistema de Gestion de Clinica</h2>
            <p>
                Este sistema informatico es una aplicacion simple que demuestra como
                se utiliza "Entity Framework" en una aplicacion Web ASP:NET MVC.
              
            </p>
          
        </section>
        <!--
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </section>-->
    </div>
</main>